.dashboard {
    .dash-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      cursor: pointer;
      background-color: transparent;
      position: relative;
  
      .dash-icon {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity 0.3s ease;
      }
  
      .inactive {
        opacity: 1;
      }
  
      .active {
        opacity: 0;
      }
  
      &:hover,
      &.active {
        background-color: #514EF3;
  
        .inactive {
          opacity: 0;
        }
  
        .active {
          opacity: 1;
        }
      }
    }
  }